@use 'global.scss' as g;

.card-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: g.$accent;
  border-radius: 0.6rem;

  padding: 1rem;
}