@use 'global.scss' as g;

#pushup {
  height: g.$nav-size;
}

.section-holder {
  width: 100vw;
  min-height: calc(100vh - 1 * g.$nav-size);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.card-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: g.$accent;
  border-radius: 0.6rem;

  padding: 1rem;
}