$text: #F1F1F1;
$background: #0F0F0F;
$primary: #00ff88;
$accent: #F1F1F1;
$secondary: #8800ff;

$nav-size: 5rem;

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/font/Montserrat.ttf');
}

// TODO
@media (prefers-color-scheme: light) {
  $text: #000000;
  $background: #FFFFFF;
  $primary: #FFD814;
  $secondary: #E3E6E6;
  $accent: #232F3E;
}