$text: #fff;
$background: #000;
$primary: #00ff88;
$accent: #0d1017;
$secondary: #8800ff;

$nav-size: 5rem;

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/font/Montserrat.ttf');
}

:root.light-theme {
  color-scheme: light !important;
  $text: #000 !default;
  $background: #fff !default;
  $primary: #ffd814 !default;
  $secondary: #e3e6e6 !default;
  $accent: #232f3e !default;
}

@media (prefers-color-scheme: light) {
  $text: #000;
  $background: #fff;
  $primary: #ffd814;
  $secondary: #e3e6e6;
  $accent: #232f3e;
}

@media only screen and (max-width: 800px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr) !important;
    margin: 0 4rem;
  }

  nav>.left,
  nav>.right {
    visibility: collapse !important;
  }

  .socials {
    display: block !important;
  }
}