$bg: #0f1419;
$text: #828c99;
$strong: #00ff88;
$link: #00fff2;
$dull: #3d4249;

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/font/Montserrat.ttf');
}

// TODO
@media (prefers-color-scheme: light) {
  $text: #ffffff;
  $bg: #0f1419;
  $text: #828c99;
  $strong: #00ff88;
}