@use 'global' as g;
@use 'helpers' as h;

:root {
  font-size: 16px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  overflow: scroll;

  font-size: 1rem;
  font-family: 'Montserrat';

  background: g.$background;
  color: g.$text;

  display: flex;
  flex-direction: column;

  border: 0px;
  margin: 0px;
  padding: 0px;

  scroll-behavior: smooth
}

.app,
.main {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.body {
  overflow-y: scroll;

  scrollbar-color: transparent;
  // scroll-snap-type: y proximity;
}

.pushup {
  height: 1.5 * g.$nav-size;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

strong {
  color: g.$primary;
}

aside {
  color: g.$accent;
}

a {
  all: unset;
  color: g.$primary;

  transition: all 0.2s linear;

  &:hover {
    color: g.$secondary;
  }
}

span {
  display: inline;
}

@media only screen and (max-width: 800px) {
  .body {
    padding: 0 0rem;
  }
}

.smv-pic {
  width: 16rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 1rem;

  filter: grayscale(1);
}

.scroll-down {
  margin-top: 2rem;

  span {
    animation: animate 1.5s infinite;
    display: block;
    position: relative;
    width: 1rem;
    height: 1rem;
    margin: -.5rem 0;
    border-bottom: 4px solid mix(g.$secondary, transparent, 50%);
    border-right: 4px solid mix(g.$secondary, transparent, 50%);
    border-radius: 2px;
    rotate: 45deg;

    &:first-child {
      margin: 0 0;
    }

    &:nth-child(2) {
      animation-delay: -0.08s;
    }

    &:nth-child(3) {
      animation-delay: -0.16s;
    }
  }

  @keyframes animate {
    0% {
      opacity: 0;
      translate: 0 -.8rem;
    }

    25% {
      opacity: 0.1;
      translate: 0 -.8rem;
    }

    50% {
      opacity: 1;
    }

    75% {
      opacity: 0.1;
      translate: 0 .8rem;
    }

    100% {
      opacity: 0;
      translate: 0 .8rem;
    }
  }
}

.socials {
  display: none;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}