@use 'global' as g;
@use 'helpers' as h;

:root {
  font-size: 16px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  overflow: scroll;

  font-size: 1rem;
  font-family: 'Montserrat';

  background: g.$bg;
  color: g.$text;

  display: flex;
  flex-direction: column;

  padding: 0 2rem;

  @include h.scrollbars(0.5rem, g.$text, g.$bg);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}