@use 'global' as g;

.nav-container {
  width: 100%;
  height: 2 * g.$nav-size;

  position: fixed;
  top: 0;
  left: 0;

  background: linear-gradient(g.$bg 50%, transparent 75%);
}

nav {
  width: 100%;
  height: g.$nav-size;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  section {
    display: flex;
    flex-direction: row;

    margin: 0 1rem;

    &.center>.nav-item {
      margin: 0 1rem;
    }
  }

  .nav-item {
    margin: 0 0.6rem;
    transition: all 0.1s linear;

    &:hover {
      color: g.$strong;
      cursor: pointer;
    }
  }
}

.nav-img {
  width: 2rem;
  height: 2rem;

  transition: inherit;

  &:hover {
    transform: scale(1.1);
  }

}