@use 'global' as g;

.proj {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  width: 100%;

  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 100%;

    section {
      display: flex;
      flex-direction: column;

      padding: 0.2rem 2rem;

      * {
        display: flex;
        flex-direction: row;
      }
    }
  }
}