@use 'global' as g;

.section-holder {
  width: 100%;
  height: calc(100vh - 1.5 * g.$nav-size);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
  scroll-snap-stop: normal;
}